*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #34495E;
}
header {
    background-color: #212F3C;
    width: 100vw;
    height: 5vh;
}
header nav {
    display: flex;
}
header nav p {
    display: flex;
    width: 30%;
    color: lime;
    justify-content: center;
    font-size: 1.3rem;
}
header nav ul {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}
header nav ul li {
    list-style: none;
    color: lime;
}

main .ejercicio1 {
    margin-top: 10px;
}
main .ejercicio1 p:nth-of-type(1){
    color: #D5F5E3;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 4px;
}
main .ejercicio1 p:nth-of-type(2) {
    color: #D5F5E3;
    margin-left: 10px;
}
main .ejercicio1 .BanderaColombia{
    display: flex;
    background-color: #212F3C;
    width: 80vw;
    height: 20vh;
    margin: 10px auto;
    border-radius: 0 40px;
}
main .ejercicio1 .amarillo {
    position: relative;
    background-color: yellow;
    width: 80vw;
    height: 15vh;
    text-align: center;
    border-radius: 30px;
    z-index: 1;
    top: 10px;
    left: 20px;
}
main .ejercicio1 .rojo {
    position: relative;
    background-color: red;
    width: 70vw;
    height: 10vh;
    text-align: center;
    border-radius: 30px;
    z-index: 2;
    top: 25px;
    left: -40px;
}
main .ejercicio1 .azul  {
    position: relative;
    background-color: blue;
    width: 70vw;
    height: 10vh;
    text-align: center;
    border-radius: 30px;
    z-index: 3;
    top: 30px;
    left: -80px;
}
main .ejercicio2 p:nth-of-type(1) {
    color: #D5F5E3;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 4px;
}
main .ejercicio2 p:nth-of-type(2) {
    color: #D5F5E3;
    margin-left: 10px;
}
main .FondoTarjetaDePresentacion {
    background-color: black;
    width: 250px;
    height: 160px;
    margin: 15px auto;
    border-radius: 0px 20px 0px 20px;
    overflow: hidden;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
main .FondoTarjetaDePresentacion img {
    width: 80px;
    height: auto;
    background-color: #17202A;
    border-radius: 50%;
    position: relative;
    box-shadow: 2px 2px 6px lime;
    left: 155px;
    top: 10px;
}
main .FondoTarjetaDePresentacion h1 {
    color: #D6DBDF;
    font-weight: 300;
    position: relative;
    top: -30px;
    left: 10px;
    font-size: 1.4rem;
}
main .FondoTarjetaDePresentacion p:nth-of-type(1){
    color: rgb(243, 195, 176);
    position: relative;
    top: -90px;
    left: -75px;
    margin-bottom: 2px;
    font-weight: 100;
    text-decoration: none;
}
main .FondoTarjetaDePresentacion p:nth-of-type(2){
    color: rgb(243, 195, 176);
    position: relative;
    top: -90px;
    left: 0px;
    margin-bottom: 2px;
    font-weight: 100;
}
main .FondoTarjetaDePresentacion p:nth-of-type(3){
    color: rgb(243, 195, 176);
    position: relative;
    top: -90px;
    left: 10px;
    margin-bottom: 2px;
    font-weight: 100;
}
main .FondoTarjetaDePresentacion a {
    color: #D6DBDF;
    text-decoration: none;
    position: relative;
    left: 10px;
    top: -70px;
}
main .FondoTarjetaDePresentacion p:nth-of-type(4){
    color: antiquewhite;
    position: relative;
    top: -65px;
    left: 10px;
}
main .FondoTarjetaDePresentacion ul {
    color: lime;
    position: relative;
    top: -60px;
    left: 10px;
}
main .FondoTarjetaDePresentacion ul li {
    margin-bottom: 2px;
    list-style: none;
}
main .UnidadesDeMedida p:nth-of-type(1){
    color: #D5F5E3;
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
}
main .UnidadesDeMedida li{
    color: #D5F5E3;
    margin-left: 10px;
    list-style: none;
}

main .UnidadesDeMedida li::before{
    content: "✅";
}
main .arqutecturasCSS p:nth-of-type(1) {
    color: #D5F5E3;
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
}
main .arqutecturasCSS p:nth-of-type(2){
    color: #D5F5E3;
    margin-left: 10px;
    margin-bottom: 10px;
}
main .arqutecturasCSS li {
    color: #D5F5E3;
    list-style: none;
    margin-left: 20px;
    margin-bottom: 8px;
}
main .arqutecturasCSS li::before {
    content: "✅";
}
main .arqutecturasCSS p:nth-of-type(3){
    color: #D5F5E3;
    margin-left: 10px;
    margin-bottom: 10px;
}